[user]
	name = Barry Kelly
	email = barry.j.kelly@gmail.com
[color]
	ui = true
[core]
	excludesfile = ~/.gitignore
	autocrlf = false
	fileMode = false
[push]
	default = tracking
[alias]
  graph = log --graph --pretty=format:\"%Cgreen%h %Cblue%an %Cgreen%ar %Creset%s\"
  ad = add --ignore-removal
  a = add --ignore-removal
	
[merge]
	tool = bcompf
[mergetool "bcompf"]
	cmd = bcompf \"$LOCAL\" \"$REMOTE\" \"$BASE\" \"$MERGED\"
